@media screen and (max-width: 500px) {

    .container {
        height: 82%;
        top: 60px;
    }

    .card {
        width: 80%;
        /*height: 100%;*/
    }

    .overlay:hover {
        width: 288px;
        height: 288px;
    }

    .cube {
        width: 84%;
    }

    footer {
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: var(--size-100) 0 0 0;
    }

    .attribution {
        bottom: initial;
    }
}

@media screen and (max-width: 400px) {

    .card { height: 97%; }

    .cube { width: 90%; }

    .creator { width: 100%; }
}

@media screen and (max-width: 375px) {

    .card { height: 95%; }

    .overlay:hover {
        width: 270px;
        height: 270px;
    }

    .creator { padding: 14px 0 28px 0; }
}